In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("D:\LearnPython\Tools_labeler\hasil_review1.csv")
# print(df.head())
# print(df.describe())


# --- 2. Menghitung Persentase Benar dan Salah ---

# Menghitung jumlah 'benar' dan 'salah'
jumlah_benar = df[df['decision'] == 'benar'].shape[0]
jumlah_salah = df[df['decision'] == 'salah'].shape[0]
total_data = jumlah_benar+jumlah_salah

print(f"Jumlah data 'benar': {jumlah_benar}")
print(f"Jumlah data 'salah': {jumlah_salah}")
print(f"Total data: {total_data}")

# Hitung persentase
persentase_benar = (jumlah_benar / total_data) * 100
persentase_salah = (jumlah_salah / total_data) * 100

print(f"Persentase 'benar': {persentase_benar:.2f}%")
print(f"Persentase 'salah': {persentase_salah:.2f}%")

Jumlah data 'benar': 68
Jumlah data 'salah': 59
Total data: 127
Persentase 'benar': 53.54%
Persentase 'salah': 46.46%

In [13]:
df_Innova = df[df["Model"] == "Innvova"]
df_Fortuner = df[df["Model"] == "Fortuner"]
df_Zenix = df[df["Model"] == "Zenix"]
df_NamaFile = df[df["Nama File"] == "CAMERA_1.jpg"]
print(df_NamaFile.head())
print(df_NamaFile.describe())

       Model                                      Path Gambar     Nama File  \
6   Fortuner  E:\datacamera2\2025-06-24_10-30-33\CAMERA_1.jpg  CAMERA_1.jpg
7    Innvova  E:\datacamera2\2025-06-24_10-30-33\CAMERA_1.jpg  CAMERA_1.jpg
8      Zenix  E:\datacamera2\2025-06-24_10-30-33\CAMERA_1.jpg  CAMERA_1.jpg
33  Fortuner  E:\datacamera2\2025-06-24_10-28-56\CAMERA_1.jpg  CAMERA_1.jpg
34   Innvova  E:\datacamera2\2025-06-24_10-28-56\CAMERA_1.jpg  CAMERA_1.jpg

    Jumlah Objek                                         Kelas Unik  \
6              0                                                 []
7              2                                            [8, 26]
8             18  [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...
33            19  [0, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17...
34            17  [0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 16, 17, 19...

   Kelas Dominan                                  Label YOLO Format
6              -                                                 []
7              8  ['8 0.363331 0.709169 0.049557 0.110184', '26 ...
8              3  ['3 0.361553 0.706316 0.054188 0.114009', '18 ...
33            10  ['10 0.360049 0.719064 0.019706 0.019588', '6 ...
34             4  ['4 0.535984 0.590177 0.029969 0.031738', '6 0...
       Jumlah Objek
count   6213.000000
mean       9.006599
std        9.059941
min        0.000000
25%        0.000000
50%        8.000000
75%       17.000000
max       27.000000

In [ ]:
df_filtered = df_NamaFile[df_NamaFile['Jumlah Objek'] >= 18]

# Tampilkan hasilnya
print(df_filtered.head())

       Model                                      Path Gambar     Nama File  \
8      Zenix  E:\datacamera2\2025-06-24_10-30-33\CAMERA_1.jpg  CAMERA_1.jpg
33  Fortuner  E:\datacamera2\2025-06-24_10-28-56\CAMERA_1.jpg  CAMERA_1.jpg
54  Fortuner  E:\datacamera2\2025-06-24_10-25-15\CAMERA_1.jpg  CAMERA_1.jpg
87  Fortuner  E:\datacamera2\2025-06-24_10-23-33\CAMERA_1.jpg  CAMERA_1.jpg
88   Innvova  E:\datacamera2\2025-06-24_10-23-33\CAMERA_1.jpg  CAMERA_1.jpg

    Jumlah Objek                                         Kelas Unik  \
8             18  [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...
33            19  [0, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17...
54            23  [0, 1, 2, 4, 6, 8, 9, 10, 11, 13, 14, 15, 16, ...
87            20  [0, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17...
88            18  [0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 16, 17...

   Kelas Dominan                                  Label YOLO Format
8              3  ['3 0.361553 0.706316 0.054188 0.114009', '18 ...
33            10  ['10 0.360049 0.719064 0.019706 0.019588', '6 ...
54             8  ['8 0.598543 0.68911 0.047841 0.081458', '11 0...
87            26  ['26 0.370033 0.727352 0.019625 0.019518', '9 ...
88             7  ['7 0.308037 0.685214 0.019696 0.019607', '6 0...

In [15]:
df_NamaFile.to_csv('df_NamaFile.csv', index=False)

In [3]:
import pandas as pd

df = pd.read_csv("D:\LearnPython\Tools_labeler\destination2.csv")
df.head()

,Model,Path Gambar,Nama File,Jumlah Objek,Kelas Unik,Kelas Dominan,Label YOLO Format,Path Txt
0,Innova,E:\24_1_Juli_dataset\2025-07-01_11-09-25\CAMER...,CAMERA_1.jpg,26,"[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",10,"['10 0.571245 0.628367 0.02359 0.023232', '19 ...",E:\24_1_Juli_dataset\2025-07-01_11-09-25\CAMER...
1,Innova,E:\24_1_Juli_dataset\2025-07-01_11-09-15\CAMER...,CAMERA_1.jpg,26,"[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",8,"['8 0.33911 0.672959 0.045347 0.082736', '19 0...",E:\24_1_Juli_dataset\2025-07-01_11-09-15\CAMER...
2,Innova,E:\24_1_Juli_dataset\2025-07-01_11-09-02\CAMER...,CAMERA_1.jpg,26,"[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",10,"['10 0.574712 0.620015 0.023645 0.023736', '11...",E:\24_1_Juli_dataset\2025-07-01_11-09-02\CAMER...
3,Innova,E:\24_1_Juli_dataset\2025-07-01_11-04-07\CAMER...,CAMERA_1.jpg,26,"[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",10,"['10 0.570696 0.62181 0.023453 0.023601', '26 ...",E:\24_1_Juli_dataset\2025-07-01_11-04-07\CAMER...
4,Innova,E:\24_1_Juli_dataset\2025-07-01_10-44-06\CAMER...,CAMERA_1.jpg,26,"[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",20,"['20 0.356017 0.517338 0.023286 0.023362', '8 ...",E:\24_1_Juli_dataset\2025-07-01_10-44-06\CAMER...